<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hitel</title>
</head>
<body>
    <form method="post" action="/Home/HitelSzamolo">
        Név: <br />
        <input type="text" name="nev" /> <br />
        Tervezett összeg: <br />
        <input type="text" name="osszeg" /> <br />
        Kamat: <br />
        <input type="text" name="kamat" /> <br />
        Futamidő: <br />
        <input type="text" name="futamido" /> <br />

        <input type="submit" value="Kiszámol!" />
        <input type="reset" value="Ürítés!" />

    </form>
</body>
</html>
