<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Jegysorsoló </h1>

    <a href="/Home/Sorsol"> Mehet a sorsolás! </a>
    <br/>
    <a href="/Home/Hitel"> Hitelszámítás! </a>
</body>
</html>
